.product-detail-info .prod-title {
  font-weight: 600;
  font-size: 20px;
}

.product-detail-info .image {
  height: 367px;
  min-height: 367px;
}

.product-detail-info .image-caption {
  position: relative;
  top: 50px;
  height: 30px;
}

.product-bid .box {
  border: 1px solid #d5d9dd;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
  margin-top: 10px;
  padding: 20px;
  display: flex;
  flex: start;
  text-align: left;
  gap: 1rem;
}

.product-bid .due-bid {
  border: 1px solid #dd4b08;
}

.product-bid .price::before {
  content: '$';
}

.product-bid .current-bid {
  color: #ff0000;
  font-size: 1.3rem;
  font-weight: bold;
}

.product-bid .current-bid::before {
  content: '$';
}

.product-bid .bid-due-date {
  color: #ff0000;
  font-size: 1.3rem;
  font-weight: bold;
}

.product-bid .btn-large {
  width: 100%;
}