.App {
  text-align: center;
  max-width: 1300px;
  margin: auto;
}

.footer {
  margin: 2rem 0;
  padding: 1rem;
  width: 100%;
  text-align: center;
  border-style: solid;
  border-width: 1px 0 0 0;
  border-color: #d9d9d9;
}

.error_container {
  color: red;
}

